nav {
    background-color: rgba(189, 147, 31, 0.438);
    padding: 10px;
}

nav a {
    color: rgb(rgb(0, 102, 255));
    display: block;
    padding: 10;
}

h1 {
    color: rgb(0, 25, 139);
}

img {
    width: 1000px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 25px;
}
